/*
 * WorkItemTracking
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 6.1-preview
 * Contact: nugetvss@microsoft.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.azure.dev.api;

import com.azure.dev.api.ApiCallback;
import com.azure.dev.api.ApiClient;
import com.azure.dev.api.ApiException;
import com.azure.dev.api.ApiResponse;
import com.azure.dev.api.Configuration;
import com.azure.dev.api.Pair;
import com.azure.dev.api.ProgressRequestBody;
import com.azure.dev.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.azure.dev.api.model.AttachmentReference;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AttachmentsApi {
    private ApiClient localVarApiClient;

    public AttachmentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AttachmentsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for attachmentsCreate
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName The name of the file (optional)
     * @param uploadType Attachment upload type: Simple or Chunked (optional)
     * @param areaPath Target project Area Path (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsCreateCall(String organization, String project, String apiVersion, String body, String fileName, String uploadType, String areaPath, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/{organization}/{project}/_apis/wit/attachments"
            .replaceAll("\\{" + "organization" + "\\}", localVarApiClient.escapeString(organization.toString()))
            .replaceAll("\\{" + "project" + "\\}", localVarApiClient.escapeString(project.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fileName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fileName", fileName));
        }

        if (uploadType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("uploadType", uploadType));
        }

        if (areaPath != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("areaPath", areaPath));
        }

        if (apiVersion != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("api-version", apiVersion));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/octet-stream"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call attachmentsCreateValidateBeforeCall(String organization, String project, String apiVersion, String body, String fileName, String uploadType, String areaPath, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organization' is set
        if (organization == null) {
            throw new ApiException("Missing the required parameter 'organization' when calling attachmentsCreate(Async)");
        }
        
        // verify the required parameter 'project' is set
        if (project == null) {
            throw new ApiException("Missing the required parameter 'project' when calling attachmentsCreate(Async)");
        }
        
        // verify the required parameter 'apiVersion' is set
        if (apiVersion == null) {
            throw new ApiException("Missing the required parameter 'apiVersion' when calling attachmentsCreate(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling attachmentsCreate(Async)");
        }
        

        okhttp3.Call localVarCall = attachmentsCreateCall(organization, project, apiVersion, body, fileName, uploadType, areaPath, _callback);
        return localVarCall;

    }

    /**
     * 
     * Uploads an attachment.  On accounts with higher attachment upload limits (&gt;130MB), you will need to use chunked upload. To upload an attachment in multiple chunks, you first need to [**Start a Chunked Upload**](#start_a_chunked_upload) and then follow the example from the **Upload Chunk** section.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName The name of the file (optional)
     * @param uploadType Attachment upload type: Simple or Chunked (optional)
     * @param areaPath Target project Area Path (optional)
     * @return AttachmentReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public AttachmentReference attachmentsCreate(String organization, String project, String apiVersion, String body, String fileName, String uploadType, String areaPath) throws ApiException {
        ApiResponse<AttachmentReference> localVarResp = attachmentsCreateWithHttpInfo(organization, project, apiVersion, body, fileName, uploadType, areaPath);
        return localVarResp.getData();
    }

    /**
     * 
     * Uploads an attachment.  On accounts with higher attachment upload limits (&gt;130MB), you will need to use chunked upload. To upload an attachment in multiple chunks, you first need to [**Start a Chunked Upload**](#start_a_chunked_upload) and then follow the example from the **Upload Chunk** section.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName The name of the file (optional)
     * @param uploadType Attachment upload type: Simple or Chunked (optional)
     * @param areaPath Target project Area Path (optional)
     * @return ApiResponse&lt;AttachmentReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AttachmentReference> attachmentsCreateWithHttpInfo(String organization, String project, String apiVersion, String body, String fileName, String uploadType, String areaPath) throws ApiException {
        okhttp3.Call localVarCall = attachmentsCreateValidateBeforeCall(organization, project, apiVersion, body, fileName, uploadType, areaPath, null);
        Type localVarReturnType = new TypeToken<AttachmentReference>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Uploads an attachment.  On accounts with higher attachment upload limits (&gt;130MB), you will need to use chunked upload. To upload an attachment in multiple chunks, you first need to [**Start a Chunked Upload**](#start_a_chunked_upload) and then follow the example from the **Upload Chunk** section.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName The name of the file (optional)
     * @param uploadType Attachment upload type: Simple or Chunked (optional)
     * @param areaPath Target project Area Path (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsCreateAsync(String organization, String project, String apiVersion, String body, String fileName, String uploadType, String areaPath, final ApiCallback<AttachmentReference> _callback) throws ApiException {

        okhttp3.Call localVarCall = attachmentsCreateValidateBeforeCall(organization, project, apiVersion, body, fileName, uploadType, areaPath, _callback);
        Type localVarReturnType = new TypeToken<AttachmentReference>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for attachmentsGet
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id Attachment ID (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param fileName Name of the file (optional)
     * @param download If set to &lt;c&gt;true&lt;/c&gt; always download attachment (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsGetCall(String organization, UUID id, String project, String apiVersion, String fileName, Boolean download, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{organization}/{project}/_apis/wit/attachments/{id}"
            .replaceAll("\\{" + "organization" + "\\}", localVarApiClient.escapeString(organization.toString()))
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()))
            .replaceAll("\\{" + "project" + "\\}", localVarApiClient.escapeString(project.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fileName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fileName", fileName));
        }

        if (download != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("download", download));
        }

        if (apiVersion != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("api-version", apiVersion));
        }

        final String[] localVarAccepts = {
            "application/octet-stream", "application/zip"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call attachmentsGetValidateBeforeCall(String organization, UUID id, String project, String apiVersion, String fileName, Boolean download, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organization' is set
        if (organization == null) {
            throw new ApiException("Missing the required parameter 'organization' when calling attachmentsGet(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling attachmentsGet(Async)");
        }
        
        // verify the required parameter 'project' is set
        if (project == null) {
            throw new ApiException("Missing the required parameter 'project' when calling attachmentsGet(Async)");
        }
        
        // verify the required parameter 'apiVersion' is set
        if (apiVersion == null) {
            throw new ApiException("Missing the required parameter 'apiVersion' when calling attachmentsGet(Async)");
        }
        

        okhttp3.Call localVarCall = attachmentsGetCall(organization, id, project, apiVersion, fileName, download, _callback);
        return localVarCall;

    }

    /**
     * 
     * Downloads an attachment.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id Attachment ID (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param fileName Name of the file (optional)
     * @param download If set to &lt;c&gt;true&lt;/c&gt; always download attachment (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public String attachmentsGet(String organization, UUID id, String project, String apiVersion, String fileName, Boolean download) throws ApiException {
        ApiResponse<String> localVarResp = attachmentsGetWithHttpInfo(organization, id, project, apiVersion, fileName, download);
        return localVarResp.getData();
    }

    /**
     * 
     * Downloads an attachment.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id Attachment ID (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param fileName Name of the file (optional)
     * @param download If set to &lt;c&gt;true&lt;/c&gt; always download attachment (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<String> attachmentsGetWithHttpInfo(String organization, UUID id, String project, String apiVersion, String fileName, Boolean download) throws ApiException {
        okhttp3.Call localVarCall = attachmentsGetValidateBeforeCall(organization, id, project, apiVersion, fileName, download, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Downloads an attachment.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id Attachment ID (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param fileName Name of the file (optional)
     * @param download If set to &lt;c&gt;true&lt;/c&gt; always download attachment (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsGetAsync(String organization, UUID id, String project, String apiVersion, String fileName, Boolean download, final ApiCallback<String> _callback) throws ApiException {

        okhttp3.Call localVarCall = attachmentsGetValidateBeforeCall(organization, id, project, apiVersion, fileName, download, _callback);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for attachmentsUploadChunk
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id The id of the attachment (required)
     * @param contentRangeHeader starting and ending byte positions for chunked file upload, format is \&quot;Content-Range\&quot;: \&quot;bytes 0-10000/50000\&quot; (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsUploadChunkCall(String organization, UUID id, String contentRangeHeader, String project, String apiVersion, String body, String fileName, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/{organization}/{project}/_apis/wit/attachments/{id}"
            .replaceAll("\\{" + "organization" + "\\}", localVarApiClient.escapeString(organization.toString()))
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()))
            .replaceAll("\\{" + "project" + "\\}", localVarApiClient.escapeString(project.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (fileName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fileName", fileName));
        }

        if (apiVersion != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("api-version", apiVersion));
        }

        if (contentRangeHeader != null) {
            localVarHeaderParams.put("contentRangeHeader", localVarApiClient.parameterToString(contentRangeHeader));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/octet-stream"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call attachmentsUploadChunkValidateBeforeCall(String organization, UUID id, String contentRangeHeader, String project, String apiVersion, String body, String fileName, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organization' is set
        if (organization == null) {
            throw new ApiException("Missing the required parameter 'organization' when calling attachmentsUploadChunk(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling attachmentsUploadChunk(Async)");
        }
        
        // verify the required parameter 'contentRangeHeader' is set
        if (contentRangeHeader == null) {
            throw new ApiException("Missing the required parameter 'contentRangeHeader' when calling attachmentsUploadChunk(Async)");
        }
        
        // verify the required parameter 'project' is set
        if (project == null) {
            throw new ApiException("Missing the required parameter 'project' when calling attachmentsUploadChunk(Async)");
        }
        
        // verify the required parameter 'apiVersion' is set
        if (apiVersion == null) {
            throw new ApiException("Missing the required parameter 'apiVersion' when calling attachmentsUploadChunk(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling attachmentsUploadChunk(Async)");
        }
        

        okhttp3.Call localVarCall = attachmentsUploadChunkCall(organization, id, contentRangeHeader, project, apiVersion, body, fileName, _callback);
        return localVarCall;

    }

    /**
     * 
     * Uploads an attachment chunk.  Before performing [**Upload a Chunk**](#upload_a_chunk), make sure to have an attachment id returned in **Start a Chunked Upload** example on **Create** section. Specify the byte range of the chunk using Content-Length. For example: \&quot;Content - Length\&quot;: \&quot;bytes 0 - 39999 / 50000\&quot; for the first 40000 bytes of a 50000 byte file.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id The id of the attachment (required)
     * @param contentRangeHeader starting and ending byte positions for chunked file upload, format is \&quot;Content-Range\&quot;: \&quot;bytes 0-10000/50000\&quot; (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName  (optional)
     * @return AttachmentReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public AttachmentReference attachmentsUploadChunk(String organization, UUID id, String contentRangeHeader, String project, String apiVersion, String body, String fileName) throws ApiException {
        ApiResponse<AttachmentReference> localVarResp = attachmentsUploadChunkWithHttpInfo(organization, id, contentRangeHeader, project, apiVersion, body, fileName);
        return localVarResp.getData();
    }

    /**
     * 
     * Uploads an attachment chunk.  Before performing [**Upload a Chunk**](#upload_a_chunk), make sure to have an attachment id returned in **Start a Chunked Upload** example on **Create** section. Specify the byte range of the chunk using Content-Length. For example: \&quot;Content - Length\&quot;: \&quot;bytes 0 - 39999 / 50000\&quot; for the first 40000 bytes of a 50000 byte file.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id The id of the attachment (required)
     * @param contentRangeHeader starting and ending byte positions for chunked file upload, format is \&quot;Content-Range\&quot;: \&quot;bytes 0-10000/50000\&quot; (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName  (optional)
     * @return ApiResponse&lt;AttachmentReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AttachmentReference> attachmentsUploadChunkWithHttpInfo(String organization, UUID id, String contentRangeHeader, String project, String apiVersion, String body, String fileName) throws ApiException {
        okhttp3.Call localVarCall = attachmentsUploadChunkValidateBeforeCall(organization, id, contentRangeHeader, project, apiVersion, body, fileName, null);
        Type localVarReturnType = new TypeToken<AttachmentReference>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Uploads an attachment chunk.  Before performing [**Upload a Chunk**](#upload_a_chunk), make sure to have an attachment id returned in **Start a Chunked Upload** example on **Create** section. Specify the byte range of the chunk using Content-Length. For example: \&quot;Content - Length\&quot;: \&quot;bytes 0 - 39999 / 50000\&quot; for the first 40000 bytes of a 50000 byte file.
     * @param organization The name of the Azure DevOps organization. (required)
     * @param id The id of the attachment (required)
     * @param contentRangeHeader starting and ending byte positions for chunked file upload, format is \&quot;Content-Range\&quot;: \&quot;bytes 0-10000/50000\&quot; (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param body Stream to upload (required)
     * @param fileName  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call attachmentsUploadChunkAsync(String organization, UUID id, String contentRangeHeader, String project, String apiVersion, String body, String fileName, final ApiCallback<AttachmentReference> _callback) throws ApiException {

        okhttp3.Call localVarCall = attachmentsUploadChunkValidateBeforeCall(organization, id, contentRangeHeader, project, apiVersion, body, fileName, _callback);
        Type localVarReturnType = new TypeToken<AttachmentReference>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
