/*
 * WorkItemTracking
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 6.1-preview
 * Contact: nugetvss@microsoft.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.azure.dev.api;

import com.azure.dev.api.ApiCallback;
import com.azure.dev.api.ApiClient;
import com.azure.dev.api.ApiException;
import com.azure.dev.api.ApiResponse;
import com.azure.dev.api.Configuration;
import com.azure.dev.api.Pair;
import com.azure.dev.api.ProgressRequestBody;
import com.azure.dev.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.threeten.bp.OffsetDateTime;
import com.azure.dev.api.model.ReportingWorkItemLinksBatch;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ReportingWorkItemLinksApi {
    private ApiClient localVarApiClient;

    public ReportingWorkItemLinksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ReportingWorkItemLinksApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for reportingWorkItemLinksGet
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param linkTypes A list of types to filter the results to specific link types. Omit this parameter to get work item links of all link types. (optional)
     * @param types A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types. (optional)
     * @param continuationToken Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links. (optional)
     * @param startDateTime Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with &#39;watermark&#39; parameter. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call reportingWorkItemLinksGetCall(String organization, String project, String apiVersion, String linkTypes, String types, String continuationToken, OffsetDateTime startDateTime, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{organization}/{project}/_apis/wit/reporting/workitemlinks"
            .replaceAll("\\{" + "organization" + "\\}", localVarApiClient.escapeString(organization.toString()))
            .replaceAll("\\{" + "project" + "\\}", localVarApiClient.escapeString(project.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (linkTypes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("linkTypes", linkTypes));
        }

        if (types != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("types", types));
        }

        if (continuationToken != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("continuationToken", continuationToken));
        }

        if (startDateTime != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("startDateTime", startDateTime));
        }

        if (apiVersion != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("api-version", apiVersion));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oauth2" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call reportingWorkItemLinksGetValidateBeforeCall(String organization, String project, String apiVersion, String linkTypes, String types, String continuationToken, OffsetDateTime startDateTime, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organization' is set
        if (organization == null) {
            throw new ApiException("Missing the required parameter 'organization' when calling reportingWorkItemLinksGet(Async)");
        }
        
        // verify the required parameter 'project' is set
        if (project == null) {
            throw new ApiException("Missing the required parameter 'project' when calling reportingWorkItemLinksGet(Async)");
        }
        
        // verify the required parameter 'apiVersion' is set
        if (apiVersion == null) {
            throw new ApiException("Missing the required parameter 'apiVersion' when calling reportingWorkItemLinksGet(Async)");
        }
        

        okhttp3.Call localVarCall = reportingWorkItemLinksGetCall(organization, project, apiVersion, linkTypes, types, continuationToken, startDateTime, _callback);
        return localVarCall;

    }

    /**
     * 
     * Get a batch of work item links
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param linkTypes A list of types to filter the results to specific link types. Omit this parameter to get work item links of all link types. (optional)
     * @param types A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types. (optional)
     * @param continuationToken Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links. (optional)
     * @param startDateTime Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with &#39;watermark&#39; parameter. (optional)
     * @return ReportingWorkItemLinksBatch
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public ReportingWorkItemLinksBatch reportingWorkItemLinksGet(String organization, String project, String apiVersion, String linkTypes, String types, String continuationToken, OffsetDateTime startDateTime) throws ApiException {
        ApiResponse<ReportingWorkItemLinksBatch> localVarResp = reportingWorkItemLinksGetWithHttpInfo(organization, project, apiVersion, linkTypes, types, continuationToken, startDateTime);
        return localVarResp.getData();
    }

    /**
     * 
     * Get a batch of work item links
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param linkTypes A list of types to filter the results to specific link types. Omit this parameter to get work item links of all link types. (optional)
     * @param types A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types. (optional)
     * @param continuationToken Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links. (optional)
     * @param startDateTime Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with &#39;watermark&#39; parameter. (optional)
     * @return ApiResponse&lt;ReportingWorkItemLinksBatch&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ReportingWorkItemLinksBatch> reportingWorkItemLinksGetWithHttpInfo(String organization, String project, String apiVersion, String linkTypes, String types, String continuationToken, OffsetDateTime startDateTime) throws ApiException {
        okhttp3.Call localVarCall = reportingWorkItemLinksGetValidateBeforeCall(organization, project, apiVersion, linkTypes, types, continuationToken, startDateTime, null);
        Type localVarReturnType = new TypeToken<ReportingWorkItemLinksBatch>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a batch of work item links
     * @param organization The name of the Azure DevOps organization. (required)
     * @param project Project ID or project name (required)
     * @param apiVersion Version of the API to use.  This should be set to &#39;6.1-preview.3&#39; to use this version of the api. (required)
     * @param linkTypes A list of types to filter the results to specific link types. Omit this parameter to get work item links of all link types. (optional)
     * @param types A list of types to filter the results to specific work item types. Omit this parameter to get work item links of all work item types. (optional)
     * @param continuationToken Specifies the continuationToken to start the batch from. Omit this parameter to get the first batch of links. (optional)
     * @param startDateTime Date/time to use as a starting point for link changes. Only link changes that occurred after that date/time will be returned. Cannot be used in conjunction with &#39;watermark&#39; parameter. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successful operation </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call reportingWorkItemLinksGetAsync(String organization, String project, String apiVersion, String linkTypes, String types, String continuationToken, OffsetDateTime startDateTime, final ApiCallback<ReportingWorkItemLinksBatch> _callback) throws ApiException {

        okhttp3.Call localVarCall = reportingWorkItemLinksGetValidateBeforeCall(organization, project, apiVersion, linkTypes, types, continuationToken, startDateTime, _callback);
        Type localVarReturnType = new TypeToken<ReportingWorkItemLinksBatch>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
